<!DOCTYPE html>
<html lang="en">    
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    
</head>    
<body>
    <div class="container">
        <div style="background-color: coral; ">
            <p style="text-align: center; font-size: 3rem;">EMPLOYEE MANAGEMENT SYSTEM</p>
            <p style="text-align: center;">Welcome to EMP system</p>
        </div>
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col">Employees Data</div>
                    <div class="col">
                        <a href="/ems/addEmployee"  class="btn btn-primary btn-sm float-end">Add Employee</a>
                    </div>
                </div>    
            </div>
            <div class="card-body">
                <table class="table table-responsive">
                        <tr>
                            <th>Name</th>
                            <th>Designation</th>
                            <th>Department</th>
                            <th>Email</th>
                            <th>Contact</th>
                            <th>Action</th>
                        </tr>
                        <% 
                        if(empData.length > 0) 
                        {
                            empData.forEach( (data) =>
                            {
                        %>
                        <tr>
                            <td><%= data.name %></td>
                            <td><%= data.desig %></td>
                            <td><%= data.dept %></td>
                            <td><%= data.email %></td>
                            <td><%= data.contact %></td>
                            <td><a href="/ems/editEmployee/<%= data.eid %>" class="btn btn-secondary sm">Edit</a><span> <span><a href="" class="btn btn-danger sm">Delete</a></td>
                        </tr>
                        <%
                           });
                        }
                        %>
                 </table>
            </div>
        </div>
    </div>        
</body>
</html>